* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 60%;
    margin: 0 auto;
}

h2 {
    margin-bottom: 10px;
}

textarea {
    height: 400px;
}

#resultBlock {
    width: 50%;
    margin-top: 30px;
}

.itemResultRow {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.itemResultRow p {
    margin: 5px 0;
}

.res-of-work {
    display: flex;
    width: auto;
    margin: 0 auto;
}

#stopWordsContainer {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    gap: 15px;
    width: 40%;
}

#stopWordsContainer button {
    width: 50%;
    margin: 0 auto;
    border: unset;
    background-color: #46CD68;
    padding: 15px;
    border-radius: 34px;
    color: white;
    font-size: 1.1rem;
}